/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* *************************************************** */

@font-face { font-family: "04b_03"; src: url('04B_03__.TTF'); }
@font-face { font-family: "League_Gothic"; src: url('League_Gothic.otf'); }
@font-face { font-family: "LobsterTwo"; src: url('LobsterTwo-Italic.otf');}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

h1{
    font-size: 28px;
}


#container{
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

header#main{
    width: 100%;
    text-align: center;
    height: 95px;
}

header h1{
    font-family: "04b_03",monospace;
    font-size: 70px;
    color: black;
}

header h1:hover{
    color: gray;
    text-decoration: underline;
}

nav{
    width: 730px;
    height: 25px;
    background-image: linear-gradient(bottom, rgb(110,125,110) 21%, rgb(114,128,114) 61%, rgb(96,112,96) 81%);
    background-image: -o-linear-gradient(bottom, rgb(110,125,110) 21%, rgb(114,128,114) 61%, rgb(96,112,96) 81%);
    background-image: -moz-linear-gradient(bottom, rgb(110,125,110) 21%, rgb(114,128,114) 61%, rgb(96,112,96) 81%);
    background-image: -webkit-linear-gradient(bottom, rgb(110,125,110) 21%, rgb(114,128,114) 61%, rgb(96,112,96) 81%);
    background-image: -ms-linear-gradient(bottom, rgb(110,125,110) 21%, rgb(114,128,114) 61%, rgb(96,112,96) 81%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.21, rgb(110,125,110)),
        color-stop(0.61, rgb(114,128,114)),
        color-stop(0.81, rgb(96,112,96))
    );
    padding-top: 5px;
    padding-left: 10px;
    border: 1px solid black;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav li{
    font-family: "League_Gothic", sans-serif;
    display: inline;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

nav li a{
    color: black;
}

nav li:hover{
    background-color: orange;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

section#content{
    min-height: 250px;
    width: 100%;
    background-image: linear-gradient(bottom, rgb(93,194,93) 21%, rgb(89,189,89) 61%, rgb(78,186,80) 81%);
    background-image: -o-linear-gradient(bottom, rgb(93,194,93) 21%, rgb(89,189,89) 61%, rgb(78,186,80) 81%);
    background-image: -moz-linear-gradient(bottom, rgb(93,194,93) 21%, rgb(89,189,89) 61%, rgb(78,186,80) 81%);
    background-image: -webkit-linear-gradient(bottom, rgb(93,194,93) 21%, rgb(89,189,89) 61%, rgb(78,186,80) 81%);
    background-image: -ms-linear-gradient(bottom, rgb(93,194,93) 21%, rgb(89,189,89) 61%, rgb(78,186,80) 81%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.21, rgb(93,194,93)),
        color-stop(0.61, rgb(89,189,89)),
        color-stop(0.81, rgb(78,186,80))
    );
}

li.article_item{
    width: 700px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 5px;
    border-bottom: 1px dotted lime;
}

li.article_item:hover{
    background-color: orange;
}

li.article_item span{
    margin-right: 30px;
}

#info{
	border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    height: 100%;
    left: 0;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 20px;
    position: fixed;
    width: 120px;
    background-image: linear-gradient(bottom, rgb(217,217,208) 16%, rgb(201,201,197) 58%, rgb(211,212,204) 79%);
    background-image: -o-linear-gradient(bottom, rgb(217,217,208) 16%, rgb(201,201,197) 58%, rgb(211,212,204) 79%);
    background-image: -moz-linear-gradient(bottom, rgb(217,217,208) 16%, rgb(201,201,197) 58%, rgb(211,212,204) 79%);
    background-image: -webkit-linear-gradient(bottom, rgb(217,217,208) 16%, rgb(201,201,197) 58%, rgb(211,212,204) 79%);
    background-image: -ms-linear-gradient(bottom, rgb(217,217,208) 16%, rgb(201,201,197) 58%, rgb(211,212,204) 79%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.16, rgb(217,217,208)),
        color-stop(0.58, rgb(201,201,197)),
        color-stop(0.79, rgb(211,212,204))
    );
}

div.gravatar{
	border: 1px solid black;
    height: 80px;
    margin-left: 15px;
    position: relative;
    float: left;
    width: 80px;

}

div.gravatar img{
    border-radius: 5px 5px 5px 5px;
    opacity: 0.85;
}

div.gravatar img:hover{
    opacity: 1;
}

div.services{
    float: left;
    margin-top: 90px;
    position: relative;
}

div.services img{
    border: 1px solid black;
    border-radius: 5px;
}

div.services img:hover{
    border: 1px solid lime;
    border-radius: 5px;
}


li.article_item span{
    font-family: "LobsterTwo";
    position: relative;
    float: left;
    vertical-align: baseline;
    width: 120px;
    padding-top: 20px;
}

div.title{
    font-family: "League_Gothic";
    color: #000;
    width: 550px;
    position: relative;
    float: left;
    font-size: 30px;
    padding-top: 7px;
}

footer{
    text-align: center;
    font-family: "LobsterTwo";
    margin-top: 10px;
    font-size: 13px;
    color: #000;
}

footer a{
    color: #000;
}
