<!doctype html>
<html>
  <head>
    <meta charset="utf-8"  />
    <meta name="author" content="Florian Thomas" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/eightbitme.png">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" >
    <link rel="stylesheet" type="text/css" href="/css/pygments.css">
  </head>
  <body>
    <section id="container">
    <header id="main">
            <div class="gravatar">
            <a href="/"><img src="http://www.gravatar.com/avatar/1c29fc4893530950ea5101c611687062.png" alt="Gravatar" /></a>
            </div>
            <a href="/" onFocus="blur();"><h1 class="name">florian thomas</h1></a>
    </header>
    <nav>
      <ul>
        <li><a href="/" onFocus="blur();">Home</a></li>
        <li><a href="/projects" onFocus="blur();">Projects</a></li>
        <li><a href="https://github.com/crunch09" target="_blank" onFocus="blur();">Github</a></li>
        <li><a href="/about" onFocus="blur();">About</a></li>
      </ul>
    </nav>
    <section id="content">
        {{ content }}
    </section>
    <footer>
      <a href="mailto:flo@florianthomas.net">2015 &copy; Florian Thomas</a>
    </footer>
    </section>
  </body>
</html>
