<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="author" content="Florian Thomas" />
<title>Florian Thomas @ GitHub</title>
<link rel="shortcut icon" href="../eightbitme.png">
<link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" >
</head>
<body>
<div id="container">
    <header>
        <div id="header_name">
            <a href="http://crunch09.github.com"><h1>florian thomas</h1></a>
        </div>
        <nav></nav>
    </header>
    <div id="info">
        <div class="gravatar">
            <a href="/"><img src="http://www.gravatar.com/avatar/1c29fc4893530950ea5101c611687062.png" alt="Gravatar" /></a>
        </div>
    </div>
    <div id="content">
        Nothing to see here yet!
        {{ content }}
    </div>
    <footer>

    </footer>
</div>
</body>
</html>
